<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Dinero:</strong>
  <%= @player.money %>
</p>

<%= link_to 'Editar', edit_player_path(@player), class:"btn btn-light" %> 
