<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Dinero:</strong>
  <%= @player.money %>
</p>

<%= link_to 'Atrás', players_path, class:"btn btn-info" %> 
